$body-bg: #f8fafc;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$green: #38c172;
$dark: #121214;
$white: #ffffff;
$dark_grey:#212025;
$purple: #7159C1;
$default: #f8fafc;
